html, body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root{
  --primary: #F2D7D5;
  --secondary: #F9EBEA;
  --text-primary: black;
  --text-secondary: #FF5555;
  --shadow: rgba(0, 0, 0, 0.12);
}

button{
  cursor: pointer;
  padding: 16px 24px;
  min-width: 120px;
  font-size: 14px;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 15px;
  border: none;
}

button:hover{
  opacity: 0.8;
}